* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.card {
    background: rgb(15, 14, 14);
    color: white;
    height: auto;
    width: 280px;
    margin: 50px 50px;
    padding: 15px;
    border-radius: 8px;
}

.card:hover {
    color: rgb(189, 240, 138);
}

.container {
    margin-top: 15px;
    padding: auto;
}